{% extends "admin_layout.html" %} 
{% block content %}
<br>
<center><div class="col">
    <div class="progress-bar" role="progressbar" style="width: 41%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
        <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;"><i class='bx bx-spin'><i class='lni lni-slack'></i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Decision Tree... !!</h3>
    </div>
</div></center>
<br>
<br>
<br>

<div class="progress mb-3" style="height:5px;">
    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: aqua;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<ul class="nav nav-pills mb-3" role="tablist" style="background-color: black;">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="pill" href="#primary-pills-home" role="tab" aria-selected="true">
            <div class="d-flex align-items-center">
                <div class="tab-icon"><i class='bx bx-home font-18 me-1'></i>
                </div>
                <div class="tab-title">Home</div>
            </div>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="pill" href="#primary-pills-profile" role="tab" aria-selected="false">
            <div class="d-flex align-items-center">
                <div class="tab-icon"><i class='bx bx-user-pin font-18 me-1'></i>
                </div>
                <div class="tab-title">Profile</div>
            </div>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="pill" href="#primary-pills-contact" role="tab" aria-selected="false">
            <div class="d-flex align-items-center">
                <div class="tab-icon"><i class='bx bx-microphone font-18 me-1'></i>
                </div>
                <div class="tab-title">Contact</div>
            </div>
        </a>
    </li>
</ul>

<div class="progress mb-3" style="height:5px;">
    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: aqua;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ></div>
</div>



<br>

    <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="primary-pills-home" role="tabpanel">
        <div class="col">
            <div class="color-indigators d-flex align-items-center gap-2", style="padding-bottom: 1%;">
                <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
                <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
                <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
                                <div class="color-indigator-item bg-warning"></div> 
                                <div class="color-indigator-item bg-success"></div> 
                                <div class="color-indigator-item bg-dan"></div> 
                                <div class="color-indigator-item bg-primary"></div> 
                </div>
        </div>
        <br>
        <div class="row g-0">
            <div class="col-md-6">
                <img src="../static/images/python images/dt111.jpeg" height="310" class="card-img">
            </div>
            <div class="col-md-6">
                <div class="card-body">

                        <p style="text-align: justify;">Decision Tree algorithm belongs to the family of supervised learning algorithms. Unlike other supervised learning algorithms, the decision tree algorithm can be used for solving regression and classification problems too.

                            The goal of using a Decision Tree is to create a training model that can use to predict the class or value of the target variable by learning simple decision rules inferred from prior data(training data).
                            
                            In Decision Trees, for predicting a class label for a record we start from the root of the tree. We compare the values of the root attribute with the record’s attribute. On the basis of comparison, we follow the branch corresponding to that value and jump to the next node.
                            </p></div>
                </div>
            </div>
        <br>
            <div class="color-indigators d-flex align-items-center gap-2">
                <div class="color-indigator-item bg-primary"></div> 
                <div class="color-indigator-item bg-danger"></div> 
                <div class="color-indigator-item bg-success"></div> 
                <div class="color-indigator-item bg-warning"></div> 
            </div>

<br>
<br>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="lni lni-arrow-right"></i><i>&nbsp;</i><i>&nbsp;</i>In a Decision tree, there are two nodes, which are the Decision Node and Leaf Node. Decision nodes are used to &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;make any decision and have multiple branches, whereas Leaf nodes are the output of those decisions and do not &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;contain any further branches.</li>
    <li class="list-group-item"><i class="lni lni-arrow-right"></i><i>&nbsp;</i><i>&nbsp;</i>The decisions or the test are performed on the basis of features of the given dataset.</li>
    <li class="list-group-item"><i class="lni lni-arrow-right"></i><i>&nbsp;</i><i>&nbsp;</i>It is a graphical representation for getting all the possible solutions to a problem/decision based on given &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;conditions.</li>
    <li class="list-group-item"><i class="lni lni-arrow-right"></i><i>&nbsp;</i><i>&nbsp;</i>In order to build a tree, we use the CART algorithm, which stands for Classification and Regression Tree algorithm.</li>
    <li class="list-group-item"><i class="lni lni-arrow-right"></i><i>&nbsp;</i><i>&nbsp;</i>It is called a decision tree because, similar to a tree, it starts with the root node, which expands on further branches &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and constructs a tree-like structure.</li>
    <li class="list-group-item"><i class="lni lni-arrow-right"></i><i>&nbsp;</i><i>&nbsp;</i>A decision tree simply asks a question, and based on the answer (Yes/No), it further split the tree into subtrees.</li>
    <li class="list-group-item"><i class="lni lni-arrow-right"></i><i>&nbsp;</i><i>&nbsp;</i>Below diagram explains the general structure of a decision tree :-</li>
</ul>
<div class="col">
    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
        <h6 class="mb-0 text-lowercase">
      <br>
      <br>
                <img src="../static/images/python images/dt2.png", width="600", height="480"></h6>
            </div>
</div>
<br>
<br>
<div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
    <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;"><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Decision Tree Terminologies...!</h3>
</div>
<ul class="list-group list-group-flush" >
    <li class="list-group-item" style="padding-top: 3%;"><h5>1.<i>&nbsp;</i><i>&nbsp;</i><u>Root Node</u> :-</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Root node is from where the decision tree starts. It represents the entire dataset, which further gets divided into &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;two or more homogeneous sets.Regression algorithm is called Simple Linear Regression.</li>
    <li class="list-group-item" style="padding-top: 3%;"><h5>2.<i>&nbsp;</i><i>&nbsp;</i><u>Leaf node</u> :-</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leaf nodes are the final output node, and the tree cannot be segregated further after getting a leaf node. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
    <li class="list-group-item" style="padding-top: 3%;"><h5>3.<i>&nbsp;</i><i>&nbsp;</i><u>Splitting</u> :-</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Splitting is the process of dividing the decision node/root node into sub-nodes according to the given conditions.</li> 
    <li class="list-group-item" style="padding-top: 3%;"><h5>4.<i>&nbsp;</i><i>&nbsp;</i><u>Branch / Subtrees</u> :-</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A tree formed by splitting the tree. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
    <li class="list-group-item" style="padding-top: 3%;"><h5>5.<i>&nbsp;</i><i>&nbsp;</i><u>purning</u> :-</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pruning is the process of removing the unwanted branches from the tree. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
    <li class="list-group-item" style="padding-top: 3%;"><h5>6.<i>&nbsp;</i><i>&nbsp;</i><u>Parent / Childnode</u> :-</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The root node of the tree is called the parent node, and other nodes are called the child nodes.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
    
</ul>

<br>
<br>
<div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
    <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;"><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>How does the Decision Tree algorithm Work...?</h3>
</div>
<div class="list-group-item" style="padding-top: 3%;">
                
    <p>
        In a decision tree, for predicting the class of the given dataset, the algorithm starts from the root node of the tree. This algorithm compares the values of root attribute with the record (real dataset) attribute and, based on the comparison, follows the branch and jumps to the next node.
<br>
<br>
        For the next node, the algorithm again compares the attribute value with the other sub-nodes and move further. It continues the process until it reaches the leaf node of the tree. The complete process can be better understood using the below algorithm:
    </p>
</div>
<div>
    <li class="list-group-item"><i class="lni lni-pointer-right"></i>&nbsp;&nbsp;&nbsp; <b style="color: aqua;">Step 1 :-</b>&nbsp;&nbsp;&nbsp; Begin the tree with the root node, says S, which contains the complete dataset.</li>
    <li class="list-group-item"><i class="lni lni-pointer-right"></i>&nbsp;&nbsp;&nbsp; <b style="color: aqua;">Step 2 :-</b>&nbsp;&nbsp;&nbsp; Find the best attribute in the dataset using Attribute Selection Measure (ASM).</li>
    <li class="list-group-item"><i class="lni lni-pointer-right"></i>&nbsp;&nbsp;&nbsp; <b style="color: aqua;">Step 3 :-</b>&nbsp;&nbsp;&nbsp; Divide the S into subsets that contains possible values for the best attributes.</li>
    <li class="list-group-item"><i class="lni lni-pointer-right"></i>&nbsp;&nbsp;&nbsp; <b style="color: aqua;">Step 4 :-</b>&nbsp;&nbsp;&nbsp; Generate the decision tree node, which contains the best attribute.</li>
    <li class="list-group-item"><i class="lni lni-pointer-right"></i>&nbsp;&nbsp;&nbsp; <b style="color: aqua;">Step 5 :-</b>&nbsp;&nbsp;&nbsp; Recursively make new decision trees using the subsets of the dataset created in step -3. Continue this &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; process until a stage is reached where you cannot further classify the nodes and called the final node &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; as a leaf node.</li>
</div>
<div class="list-group-item" style="padding-top: 3%;">
                
    <p>
        Example: Suppose there is a candidate who has a job offer and wants to decide whether he should accept the offer or Not. So, to solve this problem, the decision tree starts with the root node (Salary attribute by ASM). The root node splits further into the next decision node (distance from the office) and one leaf node based on the corresponding labels. The next decision node further gets split into one decision node (Cab facility) and one leaf node. Finally, the decision node splits into two leaf nodes (Accepted offers and Declined offer). Consider the below diagram:
    </p>
</div>
<div class="col">
    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
        <h6 class="mb-0 text-lowercase">
      <br>
      <br>
                <img src="../static/images/python images/dt3.png", width="600", height="480"></h6>
            </div>
</div>
<br>
<br>
<div class="progress-bar" role="progressbar" style="width: 69%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
    <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;"><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Attribute Selection Measures...!</h3>
</div>
<div class="list-group-item" style="padding-top: 3%;">
                
    <p>
        While implementing a Decision tree, the main issue arises that how to select the best attribute for the root node and for sub-nodes. So, to solve such problems there is a technique which is called as Attribute selection measure or ASM. By this measurement, we can easily select the best attribute for the nodes of the tree. There are two popular techniques for ASM, which are:
    </p>
</div>
<br>
<br>
<div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
    <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;">1.<i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Information Gain...!</h3>
</div>
<div>
    <li class="list-group-item" style="padding-left: 4%;"><i class="fadeIn animated bx bx-circle"></i>&nbsp;&nbsp;&nbsp; Information gain is the measurement of changes in entropy after the segmentation of a dataset based on an &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; attribute.</li>
    <li class="list-group-item" style="padding-left: 4%;"><i class="fadeIn animated bx bx-circle"></i>&nbsp;&nbsp;&nbsp; It calculates how much information a feature provides us about a class.</li>
    <li class="list-group-item" style="padding-left: 4%;"><i class="fadeIn animated bx bx-circle"></i>&nbsp;&nbsp;&nbsp; According to the value of information gain, we split the node and build the decision tree.</li>
    <li class="list-group-item" style="padding-left: 4%;"><i class="fadeIn animated bx bx-circle"></i>&nbsp;&nbsp;&nbsp; A decision tree algorithm always tries to maximize the value of information gain, and a node/attribute having &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the highest information gain is split first. It can be calculated using the below formula:</li>
  </div>
  <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
    <h6 class="mb-0 text-lowercase" style="color: black; text-align: left; ">Information Gain= Entropy(S)- [(Weighted Avg) *Entropy(each feature)  
            </h6>
    </div>
<div class="list-group-item" style="padding-top: 3%;">
    <p>
        Entropy is a metric to measure the impurity in a given attribute. It specifies randomness in data. Entropy can be calculated as:
    </p>
</div>
<div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
    <h6 class="mb-0 text-lowercase" style="color: black; text-align: left; ">Entropy(s)= -P(yes)log2 P(yes) - P(no) log2 P(no)
        <br>Where,
        <br>
        <br><i class="fadeIn animated bx bx-circle"></i>&nbsp;&nbsp;&nbsp;S= Total number of samples
        <br><i class="fadeIn animated bx bx-circle"></i>&nbsp;&nbsp;&nbsp;P(yes)= probability of yes
        <br><i class="fadeIn animated bx bx-circle"></i>&nbsp;&nbsp;&nbsp;P(no)= probability of no    
    </h6>
</div>


<br>
<br>
<div class="progress-bar" role="progressbar" style="width: 31%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
    <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;">2.<i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Gini Index...!</h3>
</div>
<div>
    <li class="list-group-item" style="padding-left: 4%;"><i class="fadeIn animated bx bx-circle"></i>&nbsp;&nbsp;&nbsp; Gini index is a measure of impurity or purity used while creating a decision tree in the CART(Classification &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and Regression Tree) algorithm.</li>
    <li class="list-group-item" style="padding-left: 4%;"><i class="fadeIn animated bx bx-circle"></i>&nbsp;&nbsp;&nbsp; An attribute with the low Gini index should be preferred as compared to the high Gini index. </li>
    <li class="list-group-item" style="padding-left: 4%;"><i class="fadeIn animated bx bx-circle"></i>&nbsp;&nbsp;&nbsp; It only creates binary splits, and the CART algorithm uses the Gini index to create binary splits.</li>
    <li class="list-group-item" style="padding-left: 4%;"><i class="fadeIn animated bx bx-circle"></i>&nbsp;&nbsp;&nbsp; Gini index can be calculated using the below formula:</li>
  
</div>
<div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
    <h6 class="mb-0 text-lowercase" style="color: black; text-align: left; ">Gini Index= 1- ∑jPj2 
            </h6>
</div>













</div>
        <div class="tab-pane fade" id="primary-pills-profile" role="tabpanel">
            <br>
        <br>        
   <form class="was-validated" method="POST" action="{{url_for('dt_result')}}" enctype="multipart/form-data" style="padding-left: 3%;">
        <div class="mb-3">
            <label for="formFile" class="form-label" id="validationFormCheck3"><button class="btn btn-light">Select your DataSet for Decision tree</button></label>
          <br>

            <input  name="dataset" type="file" id="formFile" class="form-control is-invalid" id="validationFormCheck3" required>
        </div>
        <br>
        <br>
        <div class="mb-3">
            <label class="form-label" ><button class="btn btn-light">Enter the value of Depth</button></label>
            <input type="number" name="depth" class="form-control is-invalid" id="validationFormCheck1" required>
        </div>
        <br>
        <br>
        <div class="mb-3">
            <label class="form-label" ><button class="btn btn-light">Enter target column number</button></label>
            <input type="number" name="target" class="form-control is-invalid" id="validationFormCheck2" required>
        </div>
        <br>
        <br>
        <div class="mb-3">
            <label class="form-label" ><button class="btn btn-light">Enter test size</button></label>
            <input type="number" name="test" class="form-control is-invalid" id="validationFormCheck3" required>
        </div>
        <br>
        <br>
        <br>
        <div class="col-12">
            <button class="btn btn-light" type="submit" ><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Check your data's Accuracy<i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
        </div>



    </form>
    
        
        </div>
        
        </div>   
        
        
            
        <br> 
        {% endblock %}