{% extends "admin_layout.html" %} 
{% block content %}
<br>
<center><div class="col">
    <div class="progress-bar" role="progressbar" style="width: 36%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
        <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;"><i class='bx bx-spin'><i class='lni lni-slack'></i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>MATPLOTLIB... !!</h3>
    </div>
</div></center>
<br>
<br>


<div class="progress mb-3" style="height:5px;">
    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: aqua;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

        <ul class="nav nav-pills mb-3" role="tablist" style="background-color: black;">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="pill" href="#primary-pills-home" role="tab" aria-selected="true">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon"><i class='bx bx-home font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Home</div>
                    </div>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="pill" href="#primary-pills-profile" role="tab" aria-selected="false">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon"><i class='bx bx-user-pin font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Python Tasks</div>
                    </div>
                </a>
            </li>

        </ul>
        <div class="progress mb-3" style="height:5px;">
            <div class="progress-bar" role="progressbar" style="width: 100%; background-color: aqua;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ></div>
        </div>
        <br>
        <br>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="primary-pills-home" role="tabpanel">
            
                <div class="col">
                    <div class="color-indigators d-flex align-items-center gap-2", style="padding-bottom: 1%;">
                        <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
                        <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
                        <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
                                        <div class="color-indigator-item bg-warning"></div> 
                                        <div class="color-indigator-item bg-success"></div> 
                                        <div class="color-indigator-item bg-dan"></div> 
                                        <div class="color-indigator-item bg-primary"></div> 
                        </div>
                </div>
                <br>
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="../static/images/python images/m1.jpeg" height="300" width="390" class="card-img">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
        
                                <p style="text-align: justify;">Matplotlib is a Python library used for creating static, interactive, and animated visualizations in Python. It provides a wide variety of customizable 2D and 3D plots, including line plots, scatter plots, bar plots, histograms, and many more. Matplotlib is a widely used library for data visualization and is compatible with several data analysis libraries such as NumPy, Pandas, and SciPy. It is open-source software and is available under a BSD-style license. Matplotlib can be used in Python scripts, the Python shell, and Jupyter notebooks.
                                    In addition to producing static plots, Matplotlib also provides support for interactive plots using tools like the Jupyter Notebook, Qt, and GTK. It also supports animation and 3D plots.
                                </p></div>
                            
                            
                        </div>
                    </div>
                    <div class="color-indigators d-flex align-items-center gap-2">
                                        <div class="color-indigator-item bg-primary"></div> 
                                        <div class="color-indigator-item bg-danger"></div> 
                                        <div class="color-indigator-item bg-success"></div> 
                                        <div class="color-indigator-item bg-warning"></div> 
                                                   
                    </div>
            
                    <br>
                    <br>            
                    <div class="list-group-item" style="padding-top: 3%;">
                        <p>Pyplot is a Matplotlib module that provides simple functions for adding plot elements, such as lines, images, text, etc. to the axes in the current figure.
<br>
<br>
                            Let's begin our tutorial with a simple graph that uses fundamental Matplotlib code in Jupyter Notebook. </p>
                    </div>                    
                    <div class="col">
                        <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                            <h6 class="mb-0 text-lowercase">
                          
                                    <img src="../static/images/python images/m2.jpeg", width="550", height="400"></h6>
                                </div>
                                <div class="list-group-item" style="padding-top: 3%;">
                                    <p>Note that the first array appears on the x-axis, and the second array appears on the y-axis of the plot            <br>
            <br>
            Let us now see how we can add a title, as well as the x-axis and y-axis names, using the title(), xlabel(), and ylabel() methods, respectively.</p>
                                </div>                    
                                <div class="col">
                                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                                        <h6 class="mb-0 text-lowercase">
                                      
                                                <img src="../static/images/python images/m3.jpeg", width="550", height="400"></h6>
                                            </div>
                                            <div class="list-group-item" style="padding-top: 3%;">
                                                <p>Users can also specify the size of the figure using the figure() method. Additionally, users can pass values as tuples, which make up the length of rows and columns to the argument figsize.

                                                </p>
                                            </div>                    
                                            <div class="col">
                                                <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                                                    <h6 class="mb-0 text-lowercase">
                                                  
                                                            <img src="../static/images/python images/m4.jpeg", width="550", height="400"></h6>
                                                        </div>
                                            <br>
                                            </div>
                                </div>            <br>
                    </div>
                    
                    <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                        <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;"><i class='lni lni-menu'> </i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Matplotlib Subplots...!</h3>
                    </div>
                    <div class="list-group-item" style="padding-top: 3%;">
                        <p>You can use the subplot() method to add more than one plot in a figure. 
                            <br>
                            <br>
                            Syntax: plt.subplots(nrows, ncols, index)
                            <br>
                            <br>
                            The three-integer arguments specify the number of rows and columns and the index of the subplot grid.
                        </p>
                    </div>
                    <div class="col">
                        <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                            <h6 class="mb-0 text-lowercase">
                          
                                    <img src="../static/images/python images/m5.jpeg", width="500", height="480"></h6>
                                </div>
                    </div>
                    <div class="list-group-item" style="padding-top: 3%;">
                        <p>The add_subplot() function of the figure class enables us to add a graph inside a graph.
                        </p>
                    </div>
                    <div class="col">
                        <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                            <h6 class="mb-0 text-lowercase">
                          
                                    <img src="../static/images/python images/m6.jpeg", width="500", height="480"></h6>
                                </div>
                    </div>
                    <br>
                    <br>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><h3 style="color: aqua;"><i class='bx bx-spin'><i class="fadeIn animated bx bx-health"></i></i>&nbsp;&nbsp;&nbsp;<u>Important Types of Plot :-</u></h3></li>
                                        
                                </ul>                
                                <br>
                                <br>
                                <div class="progress-bar" role="progressbar" style="width: 34%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                                    <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;">1.&nbsp;&nbsp; Bar Graphs</h3>
                                </div>     
                                <br>
                                <div class="list-group-item" style="padding-top: 3%;">
                                    <p>A  bar graph presents data with heights and lengths proportional to the values they present.
                                        <br>
                                        <br>

                                        Syntax: ax.bar(x, height, width, bottom, align)
                                        <br>
                                        <br>
                                        Example:
                                    </p>
                                </div>
                                <div class="col">
                                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                                        <h6 class="mb-0 text-lowercase">
                                      
                                                <img src="../static/images/python images/m7.jpeg", width="500", height="480"></h6>
                                            </div>
                                </div>
                                <div class="list-group-item" style="padding-top: 3%;">
                                    <p>The axes label is a region of the image with data space. 
                                        <br>
                                        <br>
                                        An axes object is added to figure by the add_axes() method. The syntax for the axes object is: ax = fig.add_axes([left,right,width,height]).
                                    </p>
                                </div>
            
                                <br>
                                <br>
                                <div class="progress-bar" role="progressbar" style="width: 34%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                                    <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;">2.&nbsp;&nbsp; Histograms</h3>
                                </div>     
                                <br>
                                <div class="list-group-item" style="padding-top: 3%;">
                                    <p>A histogram is used to understand the distribution of a continuous numerical variable.

                                        
                                        <br>
                                        <br>
                                        Example:
                                    </p>
                                </div>
                                <div class="col">
                                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                                        <h6 class="mb-0 text-lowercase">
                                      
                                                <img src="../static/images/python images/m8.jpeg", width="500", height="480"></h6>
                                            </div>
                                </div>
                                <br>
                                <br>
                                <div class="progress-bar" role="progressbar" style="width: 34%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                                    <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;">3.&nbsp;&nbsp; Scatter Plots</h3>
                                </div>     
                                <br>
                                <div class="list-group-item" style="padding-top: 3%;">
                                    <p>Scatter plots are used to represent values for two different numeric variables.
                                        <br>
                                        <br>
                                        Example:
                                    </p>
                                </div>
                                <div class="col">
                                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                                        <h6 class="mb-0 text-lowercase">
                                      
                                                <img src="../static/images/python images/m9.jpeg", width="900", height="500"></h6>
                                            </div>
                                </div>
                                <div class="col">
                                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                                        <h6 class="mb-0 text-lowercase">
                                      
                                                <img src="../static/images/python images/m10.jpeg", width="600", height="480"></h6>
                                            </div>
                                </div>
            
            
            
            
            
            
            
            
            
            
            
            
            
            </div>
            <div class="tab-pane fade" id="primary-pills-profile" role="tabpanel">
                <br>
                <br>
                <div class="progress-bar" role="progressbar" style="width: 43%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                    <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;"><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Mplot showcase<i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i></h3>
                </div>
                <br>
                <br>
                <br>        
           <form class="was-validated" method="POST" action="{{url_for('matplotlib_result')}}" enctype="multipart/form-data" style="padding-left: 3%;">
                <div class="mb-3">
                    <label for="formFile" class="form-label" id="validationFormCheck3"><button class="btn btn-light">Select your DataSet for Matplotlib</button></label>
                  <br>
        
                    <input  name="dataset" type="file" id="formFile" class="form-control is-invalid" id="validationFormCheck3" required>
                </div>
                <br>
                <br>
                <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter First Column</button></label>
                    <input type="number" name="first" class="form-control is-invalid" id="validationFormCheck3" required>
                </div>
                <br>
                <br>
                <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter Second Column</button></label>
                    <input type="number" name="second" class="form-control is-invalid" id="validationFormCheck3" required>
                </div>
                <br>
                <br>
                <br>
                <div class="col-12">
                    <button class="btn btn-light" type="submit" ><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Check your Sum<i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
                </div>
                
        
        
            </form>






            </div>

        </div>
    </div>






<br> 
{% endblock %}