{% extends "admin_layout.html" %} 
{% block content %}
<br>
<center><div class="col">
    <div class="progress-bar" role="progressbar" style="width: 26%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
        <h3 class="mb-0 text-uppercase" style="color: black"><i class='bx bx-spin'><i class='lni lni-slack'></i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>NUMPY... !!</h3>
    </div>
</div></center>
<br>
<br>
        
        <div class="progress mb-3" style="height:5px;">
            <div class="progress-bar" role="progressbar" style="width: 100%; background-color: aqua;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <ul class="nav nav-pills mb-3" role="tablist" style="background-color: black;">
            <li class="nav-item" role="presentation" style="padding-left: 4%;">
                <a class="nav-link active" data-bs-toggle="pill" href="#primary-pills-home" role="tab" aria-selected="true">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon"><i class='bx bx-home font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Home</div>
                    </div>
                </a>
            </li>
            <li class="nav-item" role="presentation" style="padding-left: 4%;">
                <a class="nav-link" data-bs-toggle="pill" href="#primary-pills-profile" role="tab" aria-selected="false">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon"><i class='bx bx-user-pin font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Add Numbers</div>
                    </div>
                </a>
            </li>
            <li class="nav-item" role="presentation" style="padding-left: 4%;">
                <a class="nav-link" data-bs-toggle="pill" href="#primary-pills-contact" role="tab" aria-selected="false">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon"><i class='bx bx-microphone font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Create Arrays</div>
                    </div>
                </a>
            </li>
 
            <li class="nav-item" role="presentation" style="padding-left: 4%;">
                <a class="nav-link" data-bs-toggle="pill" href="#primary-pills-I" role="tab" aria-selected="false">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon"><i class='bx bx-microphone font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Index</div>
                    </div>
                </a>
            </li>

            <li class="nav-item" role="presentation" style="padding-left: 4%;">
                <a class="nav-link" data-bs-toggle="pill" href="#primary-pills-sorting" role="tab" aria-selected="false">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon"><i class='bx bx-microphone font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Sorting</div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="progress mb-3" style="height:5px;">
            <div class="progress-bar" role="progressbar" style="width: 100%; background-color: aqua;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ></div>
        </div>



<br>

            <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="primary-pills-home" role="tabpanel">
                <div class="col">
                    <div class="color-indigators d-flex align-items-center gap-2", style="padding: 1%;">
                        <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
                        <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
                        <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
                                        <div class="color-indigator-item bg-warning"></div> 
                                        <div class="color-indigator-item bg-success"></div> 
                                        <div class="color-indigator-item bg-dan"></div> 
                                        <div class="color-indigator-item bg-primary"></div> 
                        </div>
                </div>
                <div class="row g-0">
                    
                    <div class="col-md-4">
                        <img src="../static/images/python images/n2.jpg" height="220" width="300" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">NumPy is the fundamental package for scientific computing in Python. It is a Python library that provides a multidimensional array object, various derived objects (such as masked arrays and matrices), and an assortment of routines for fast operations on arrays, including mathematical, logical, shape manipulation, sorting, selecting, I/O, discrete Fourier transforms, basic linear algebra, basic statistical operations, random simulation and much more.

                                At the core of the NumPy package, is the ndarray object. This encapsulates n-dimensional arrays of homogeneous data types, with many operations being performed in compiled code for performance.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="color-indigators d-flex align-items-center gap-2">
                                    <div class="color-indigator-item bg-primary"></div> 
                                    <div class="color-indigator-item bg-danger"></div> 
                                    <div class="color-indigator-item bg-success"></div> 
                                    <div class="color-indigator-item bg-warning"></div> 
                </div>
                <br>
                <br>
                <p>
                <div class="col">
                        <div class="progress-bar" role="progressbar" style="width: 100%; background-color: black;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                            <h4 class="mb-0 text-uppercase" style="color: aqua">There are several important differences between NumPy arrays and the standard Python sequences:</h4>
                        </div>
                </div>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="lni lni-arrow-right"></i><i>&nbsp;</i><i>&nbsp;</i>NumPy arrays have a fixed size at creation, unlike Python lists (which can grow dynamically). Changing the size of <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>&nbsp; an ndarray will create a new array and delete the original.</li>
                    <li class="list-group-item"><i class="lni lni-arrow-right"></i><i>&nbsp;</i><i>&nbsp;</i>The elements in a NumPy array are all required to be of the same data type, and thus will be the same size in <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>&nbsp;memory. The exception: one can have arrays of (Python, including NumPy) objects, thereby allowing for arrays of <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>&nbsp;different sized elements.</li>
                    <li class="list-group-item"><i class="lni lni-arrow-right"></i><i>&nbsp;</i><i>&nbsp;</i>NumPy arrays facilitate advanced mathematical and other types of operations on large numbers of data. Typically, <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>&nbsp;such operations are executed more efficiently and with less code than is possible using Python’s built-in <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>&nbsp;sequences.</li>
                    <li class="list-group-item"><i class="lni lni-arrow-right"></i><i>&nbsp;</i><i>&nbsp;</i>A growing plethora of scientific and mathematical Python-based packages are using NumPy arrays; though these <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>&nbsp;typically support Python-sequence input, they convert such input to NumPy arrays prior to processing, and they </i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>&nbsp;&nbsp;often output NumPy arrays.</li>
                    <li class="list-group-item"><i class="lni lni-arrow-right"></i><i>&nbsp;</i><i>&nbsp;</i>In other words, in order to efficiently use much (perhaps even most) of today’s scientific/mathematical Python <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>&nbsp;based software, just knowing how to use Python’s built-in sequence types is insufficient - one also needs to know </i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>&nbsp; how to use NumPy arrays.</li>

                </ul>
                <br>
                <div class="list-group-item" style="padding-top: 3%;">
                <p>The points about sequence size and speed are particularly important in scientific computing. As a simple example, consider the case of multiplying each element in a 1-D sequence with the corresponding element in another sequence of the same length. If the data are stored in two Python lists, <b style="color: aqua;">a</b> and <b style="color: aqua;">b</b>, we could iterate over each element:</p>
                </div>
                <div class="col">
                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                        <h6 class="mb-0 text-lowercase" style="color: black; text-align: left;">c = [  ]
                            <br>for i in range( len(a) ):
                                <br>c.append( a[ i ] * b[ i ] )</h6>
                    </div>
                </div>

                <div class="list-group-item" style="padding-top: 3%;">
                    <p>This produces the correct answer, but if a and b each contain millions of numbers, we will pay the price for the inefficiencies of looping in Python. We could accomplish the same task much more quickly in C by writing (for clarity we neglect variable declarations and initializations, memory allocation, etc.)</p>
                </div>
                    <div class="col">
                        <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                            <h6 class="mb-0 text-lowercase" style="color: black; text-align: left;">for (i = 0; i < rows; i++) 
                              <br>  {
                               <br> c[i] = a[i]*b[i];
                              <br>}</h6>
                        </div>
                    </div>
                    <div class="list-group-item" style="padding-top: 3%;">
                        <p>This saves all the overhead involved in interpreting the Python code and manipulating Python objects, but at the expense of the benefits gained from coding in Python. Furthermore, the coding work required increases with the dimensionality of our data. In the case of a 2-D array, for example, the C code (abridged as before) expands to</p>
                        </div>
                        <div class="col">
                            <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                                <h6 class="mb-0 text-lowercase" style="color: black; text-align: left;">for (i = 0; i < rows; i++) 
                                    <br>{
                                    <br>for (j = 0; j < columns; j++)
                                    <br> {
                                     <br> c[ i ] [ j ] = a[ i ] [ j ]*b[ i ] [ j ];
                                   <br> }
                                  <br>}</h6>
                            </div>
                        </div>
                        <div class="list-group-item" style="padding-top: 3%;">
                        <p>NumPy gives us the best of both worlds: element-by-element operations are the “default mode” when an ndarray is involved, but the element-by-element operation is speedily executed by pre-compiled C code. In NumPy</p>
                        </div>
                            <div class="col">
                                <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                                    <h6 class="mb-0 text-lowercase" style="color: black; text-align: left;">c = a * b 
            
                                    </h6>
                                </div>
                            </div>
                            <div class="list-group-item" style="padding-top: 3%;">
                            <p>does what the earlier examples do, at near-C speeds, but with the code simplicity we expect from something based on Python. Indeed, the NumPy idiom is even simpler! This last example illustrates two of NumPy’s features which are the basis of much of its power: vectorization and broadcasting.</p>    
                            </div>    
                        
                        


                </p>
                
            
            </div>
            <div class="tab-pane fade" id="primary-pills-profile" role="tabpanel">
                <br>
                <br>        
           <form class="was-validated" method="POST" action="{{url_for('add_numbers')}}" enctype="multipart/form-data" style="padding-left: 3%;">
                <!-- <div class="mb-3">
                    <label for="formFile" class="form-label" id="validationFormCheck3"><button class="btn btn-light">Select your DataSet for KNN</button></label>
                  <br> -->
<!--         
                    <input  name="dataset" type="file" id="formFile" class="form-control is-invalid" id="validationFormCheck3" required>
                </div> -->
                <!-- <br>
                <br> -->
                <!-- <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter the value of K</button></label>
                    <input type="number" name="k" class="form-control is-invalid" id="validationFormCheck1" required>
                </div>
                <br>
                <br> -->
                <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter First Number </button></label>
                    <input type="number" name="num1" class="form-control is-invalid" id="validationFormCheck2" required>
                </div>
                <br>
                <br>
                <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter Second Number</button></label>
                    <input type="number" name="num2" class="form-control is-invalid" id="validationFormCheck3" required>
                </div>
                <br>
                <br>
                <br>
                <div class="col-12">
                    <button class="btn btn-light" type="submit" ><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Check your Sum<i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
                </div>
                
        
        
            </form>
            <br>
            <br>
            <div class="list-group-item" style="padding-top: 3%;">
                <h3>Your Summation is</h3>
                </div>
                <div class="col">
                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                        <h6 class="mb-0 text-lowercase" style="color: black; text-align: left;">{{ result }}</h6>
                    </div>
                </div>
            
        

            </div>
            <div class="tab-pane fade" id="primary-pills-contact" role="tabpanel">
                <br>
                <br>        
           <form class="was-validated" method="POST" action="{{url_for('create_array')}}" enctype="multipart/form-data" style="padding-left: 3%;">
                <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter First Set </button></label>
                    <input type="number" name="set1" class="form-control is-invalid" id="validationFormCheck2" required>
                </div>
                <br>
                <br>
                <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter Second Set</button></label>
                    <input type="number" name="set2" class="form-control is-invalid" id="validationFormCheck3" required>
                </div>
                <br>
                <br>
                <br>
                <div class="col-12">
                    <button class="btn btn-light" type="submit" ><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Check your Array<i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
                </div>
                
        
        
            </form>
            <br>
            <br>
            <div class="list-group-item" style="padding-top: 3%;">
                <button class="btn btn-light" type="submit" ><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i><i>&nbsp;</i>Your Array is :-<i>&nbsp;</i><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i></button>
                </div>
                <div class="col">
                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                        <h6 class="mb-0 text-lowercase" style="color: black; text-align: left;">                <button class="btn btn-light" type="submit" >{{ x }}</button></h6>
                    </div>
                </div>
            


            </div>
            <div class="tab-pane fade" id="primary-pills-I" role="tabpanel">
                <br>
                <br>        
           <form class="was-validated" method="POST" action="{{url_for('create_index')}}" enctype="multipart/form-data" style="padding-left: 3%;">
                <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter Set </button></label>
                    <input type="text" name="set3" class="form-control is-invalid" id="validationFormCheck2" required>
                </div>
                <br>
                <br>
                <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter Number</button></label>
                    <input type="number" name="num3" class="form-control is-invalid" id="validationFormCheck3" required>
                </div>
                <br>
                <br>
                <br>
                <div class="col-12">
                    <button class="btn btn-light" type="submit" ><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Check your Index<i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
                </div>
                
        
        
            </form>
            <br>
            <br>
            <div class="list-group-item" style="padding-top: 3%;">
                <button class="btn btn-light" type="submit" ><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i><i>&nbsp;</i>Your Index is :-<i>&nbsp;</i><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i></button>
                </div>
                <div class="col">
                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                        <h6 class="mb-0 text-lowercase" style="color: black; text-align: left;"><button class="btn btn-light" type="submit" >{{ value }}</button></h6>
                    </div>
                </div>
                <div class="col">
                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                        <h6 class="mb-0 text-lowercase" style="color: black; text-align: left;"><button class="btn btn-light" type="submit" >{{ num3 }}</button></h6>
                    </div>
                </div>
                <div class="col">
                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                        <h6 class="mb-0 text-lowercase" style="color: black; text-align: left;"><button class="btn btn-light" type="submit" >{{ y }}</button></h6>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="primary-pills-sorting" role="tabpanel">
                <form class="was-validated" method="POST" action="{{url_for('create_sort')}}" enctype="multipart/form-data" style="padding-left: 3%;">
                <!-- <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter First Number </button></label>
                    <input type="number" name="num1" class="form-control is-invalid" id="validationFormCheck2" required>
                </div>
                <br>
                <br> -->
                <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter your Numbers</button></label>
                    <input type="text" name="set4" class="form-control is-invalid" id="validationFormCheck3" required>
                </div>
                <br>
                <br>
                <br>
                <div class="col-12">
                    <button class="btn btn-light" type="submit" ><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Check your Sum<i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
                </div>
                
        
        
            </form>
            <br>
            <br>
            <div class="list-group-item" style="padding-top: 3%;">
                <h3>Your Sorting is</h3>
                </div>
                <div class="col">
                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: white; padding-left: 3%; padding-top: 1%; padding-bottom: 1%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                        <h6 class="mb-0 text-lowercase" style="color: black; text-align: left;">{{ sortvalue }}</h6>
                    </div>
                </div>
            
        

            </div>

            </div>
        </div>
    
<br> 
{% endblock %}