{% extends "admin_layout.html" %} 
{% block content %}
<br>
<center><div class="progress-bar" role="progressbar" style="width: 28%; background-color: black;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
    <h3 class="mb-0 text-uppercase" style="color: aqua"><i class='bx bx-spin'><i class='lni lni-slack'></i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Pandas... !!</h3>
    
</div></center>
<br>
<br>
<br>
        <div>
            <i class="progress mb" style="height:5px;">
                <i class="progress-bar" role="progressbar" style="width: 100%; background-color: aqua;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></i>
            </i>
        </div>    
        <ul class="nav nav-pills mb-3" role="tablist" style="background-color: black;">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="pill" href="#primary-pills-home" role="tab" aria-selected="true">
                    <div class="d-flex align-items-center">
                        
                        <div class="tab-icon"><i class='bx bx-home font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Home</div>
                    </div>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="pill" href="#primary-pills-profile" role="tab" aria-selected="false">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon"><i class='bx bx-user-pin font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Python Tasks</div>
                    </div>
                </a>
            </li>
            
        </ul>
        <div class="progress mb" style="height:5px;" >
            <div class="progress-bar" role="progressbar" style="width: 100%; background-color: aqua;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    
<br>
<br>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="primary-pills-home" role="tabpanel">
                <div class="col">
                    <div class="card">
                        <div class="row">
                            <div class="col">
                                <img src="../static/images/python images/p6.png" alt="..." class="card-img" height="200">
                            </div>
                            <div class="col-md-8 ">
                                <div class="card-body">
                                    <br>
                                   <p>Pandas has so many uses that it might make sense to list the things it can't do instead of what it can do.

                                    This tool is essentially your data’s home. Through pandas, you get acquainted with your data by cleaning, transforming, and analyzing it.
                                    
                                    For example, say you want to explore a dataset stored in a CSV on your computer. Pandas will extract the data from that CSV into a DataFrame — a table, basically — then let you do things like:</p>
                                    
                                </div>
                            </div>
      
                            
                        </div>
                    
                            <ul class="list-group list-group-flush">
								<li class="list-group-item"><i class='bx bx-spin'><i class="fadeIn animated bx bx-health"></i></i>&nbsp;&nbsp;&nbsp;Calculate statistics and answer questions about the data, like :</li>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" style="left: 6%; width: 94%;"><i class="lni lni-pointer-right"></i>&nbsp;&nbsp;&nbsp;What's the average, median, max, or min of each column ?</li>
                                        <li class="list-group-item" style="left: 6%; width: 94%;"><i class="lni lni-pointer-right"></i>&nbsp;&nbsp;&nbsp;Does column A correlate with column B ?</li>
                                        <li class="list-group-item" style="left: 6%; width: 94%;"><i class="lni lni-pointer-right"></i>&nbsp;&nbsp;&nbsp;What does the distribution of data in column C look like ?</li>
                                    </ul>
                                <li class="list-group-item"><i class='bx bx-spin'><i class="fadeIn animated bx bx-health"></i></i>&nbsp;&nbsp;&nbsp;Clean the data by doing things like removing missing values and filtering rows or columns by some criteria.</li>
                                <li class="list-group-item"><i class='bx bx-spin'><i class="fadeIn animated bx bx-health"></i></i>&nbsp;&nbsp;&nbsp;Visualize the data with help from Matplotlib. Plot bars, lines, histograms, bubbles, and more.</li>    
                                <li class="list-group-item"><i class='bx bx-spin'><i class="fadeIn animated bx bx-health"></i></i>&nbsp;&nbsp;&nbsp;Store the cleaned, transformed data back into a CSV, other file or database</li>    
							</ul>
                    </div>
                </div>        
                <div class="progress-bar" role="progressbar" style="width: 88%; background-color: black;" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">
                    <h3 class="mb-0 text-uppercase" style="color: aqua"><i class='bx bx-spin'><i class='lni lni-slack'></i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>How does pandas fit into the data science toolkit..?</h3>
                    <br>
                </div>
                <div class="list-group-item">
             <p>Not only is the pandas library a central component of the data science toolkit but it is used in conjunction with other libraries in that collection.
                <br>
                <br>
                Pandas is built on top of the NumPy package, meaning a lot of the structure of NumPy is used or replicated in Pandas. Data in pandas is often used to feed statistical analysis in SciPy, plotting functions from Matplotlib, and machine learning algorithms in Scikit-learn.
                <br>
                <br>
                Jupyter Notebooks offer a good environment for using pandas to do data exploration and modeling, but pandas can also be used in text editors just as easily.
                <br>
                <br>
                Jupyter Notebooks give us the ability to execute code in a particular cell as opposed to running the entire file. This saves a lot of time when working with large datasets and complex transformations. Notebooks also provide an easy way to visualize pandas’ DataFrames and plots. As a matter of fact, this article was created entirely in a Jupyter Notebook.</p>
                </div>










                

            </div>
            
            <div class="tab-pane fade" id="primary-pills-profile" role="tabpanel">
                <br>
                <br>
                <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                    <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;"><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Create Dataseries<i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i></h3>
                </div>
                
                <br>        
           <form class="was-validated" method="POST" action="{{url_for('create_dataseries')}}" enctype="multipart/form-data" style="padding-left: 3%;">
                <!-- <div class="mb-3">
                    <label for="formFile" class="form-label" id="validationFormCheck3"><button class="btn btn-light">Select your DataSet for KNN</button></label>
                  <br> -->
<!--         
                    <input  name="dataset" type="file" id="formFile" class="form-control is-invalid" id="validationFormCheck3" required>
                </div> -->
                <!-- <br>
                <br> -->
                <!-- <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter the value of K</button></label>
                    <input type="number" name="k" class="form-control is-invalid" id="validationFormCheck1" required>
                </div>
                <br>
                <br> -->
                <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter your Data </button></label>
                    <input type="number" name="data" class="form-control is-invalid" id="validationFormCheck2" required>
                </div>
                <br>
                <br>
                <div class="mb-3">
                    <label class="form-label" ><button class="btn btn-light">Enter Your DataFrame</button></label>
                    <input type="number" name="df1" class="form-control is-invalid" id="validationFormCheck3" required>
                </div>
                <br>
                <br>
                <br>
                <div class="col-12">
                    <button class="btn btn-light" type="submit" ><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Check your Sum<i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
                </div>
                
        
        
            </form>
            <br>
            <br>                
            <br>
            <br>
            <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;"><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Read CSV<i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i></h3>
            </div>
            
            <br>        
       <form class="was-validated" method="POST" action="{{url_for('csv')}}" enctype="multipart/form-data" style="padding-left: 3%;">
            <div class="mb-3">
                <label for="formFile" class="form-label" id="validationFormCheck3"><button class="btn btn-light">Select your DataSet to open CSV </button></label>
              <br>
        
                <input  name="upfile" type="file" id="formFile" class="form-control is-invalid" id="validationFormCheck3" required>
            </div>
            <!-- <br>
            <br> -->
            <!-- <div class="mb-3">
                <label class="form-label" ><button class="btn btn-light">Enter the value of K</button></label>
                <input type="number" name="k" class="form-control is-invalid" id="validationFormCheck1" required>
            </div> -->
            <!-- <br>
            <br> -->
            <!-- <div class="mb-3">
                <label class="form-label" ><button class="btn btn-light">Enter your Data </button></label>
                <input type="number" name="data" class="form-control is-invalid" id="validationFormCheck2" required>
            </div>
            <br>
            <br>
            <div class="mb-3">
                <label class="form-label" ><button class="btn btn-light">Enter Your DataFrame</button></label>
                <input type="number" name="df1" class="form-control is-invalid" id="validationFormCheck3" required>
            </div> -->
            <br>
            <br>
            <br>
            <div class="col-12">
                <button class="btn btn-light" type="submit" ><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Check your Sum<i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
            </div>
        </form>
        <br>
        <br>
        <br>
        <br>
        <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
            <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;"><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Read CSV describe<i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i></h3>
        </div>
        <br>        
   <form class="was-validated" method="POST" action="{{url_for('csvdesc')}}" enctype="multipart/form-data" style="padding-left: 3%;">
        <div class="mb-3">
            <label for="formFile" class="form-label" id="validationFormCheck3"><button class="btn btn-light">Select your DataSet to see Superficially </button></label>
          <br>
    
            <input  name="upfile" type="file" id="formFile" class="form-control is-invalid" id="validationFormCheck3" required>
        </div>
        <!-- <br>
        <br> -->
        <!-- <div class="mb-3">
            <label class="form-label" ><button class="btn btn-light">Enter the value of K</button></label>
            <input type="number" name="k" class="form-control is-invalid" id="validationFormCheck1" required>
        </div> -->
        <!-- <br>
        <br> -->
        <!-- <div class="mb-3">
            <label class="form-label" ><button class="btn btn-light">Enter your Data </button></label>
            <input type="number" name="data" class="form-control is-invalid" id="validationFormCheck2" required>
        </div>
        <br>
        <br>
        <div class="mb-3">
            <label class="form-label" ><button class="btn btn-light">Enter Your DataFrame</button></label>
            <input type="number" name="df1" class="form-control is-invalid" id="validationFormCheck3" required>
        </div> -->
        <br>
        <br>
        <br>
        <div class="col-12">
            <button class="btn btn-light" type="submit" ><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Check your Sum<i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
        </div>
        


    </form>   
    <br>
    <br> 
    <br>
    <br>
    <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
        <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;"><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Read CSV Info<i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i class='bx bx-spin'><i class='lni lni-joomla-original'> </i></i></h3>
    </div>
    <br>       
    <form class="was-validated" method="POST" action="{{url_for('csvinfo')}}" enctype="multipart/form-data" style="padding-left: 3%;">
        <div class="mb-3">
            <label for="formFile" class="form-label" id="validationFormCheck3"><button class="btn btn-light">Select your DataSet to see information </button></label>
          <br>
    
            <input  name="upfile" type="file" id="formFile" class="form-control is-invalid" id="validationFormCheck3" required>
        </div>
        <br>
        <br>
        <br>
        <div class="col-12">
            <button class="btn btn-light" type="submit" ><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Check your Sum<i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
        </div>
        


    </form>   






        </div>




<br> 
{% endblock %}