{% extends "admin_layout.html" %} 
{% block content %}
<br>
<center><div class="col">
    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
        <h3 class="mb-0 text-uppercase" style="color: aqua; background-color: black;"><i class='bx bx-spin'><i class='lni lni-slack'></i></i><i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>Virtual Try On Mouse... !!<i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i><i class='bx bx-spin'><i class='lni lni-slack'></i></i></h3>
    </div>
</div></center>
<br>
<br>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 product-grid">
    <form class="was-validated" method="POST" action="#" enctype="multipart/form-data">
    <div class="col">
        <div class="card">
            <img src="../static/images/python images/vtronm1.jpeg" class="card-img-top" alt="..." height="300">
            <input class="form-label" id="formFileLg" type="hidden" name='k' value="1">

            <br>
            <div class="card-body">
                <h6 class="card-title cursor-pointer" style="text-align: center;">Use Your Hands</h6> 
            </div>
            <br>
            <br>

            <!-- <div class="col-12" style="text-align: center;">
                <button class="btn btn-light" type="submit"><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Try on <i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
            </div> -->
            
        </div>
    </div>
    </form>

        <form class="was-validated" method="POST" action="#" enctype="multipart/form-data">
        <div class="col">
            <div class="card">
                <img src="../static/images/python images/vtronm3.jpeg" class="card-img-top" alt="..." height="300">
                <input class="form-label" id="formFileLg" type="hidden" name='k' value="1">
    
                <br>
                <div class="card-body">
                    <h6 class="card-title cursor-pointer" style="text-align: center;">Let's Start</h6> 
                </div>
                <br>
                <br>
    
                <div class="col-12" style="text-align: center;">
                    <button class="btn btn-light" type="submit"><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Try on <i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
                </div>
                
            </div>
        </div>
        </form>
        <form class="was-validated" method="POST" action="#" enctype="multipart/form-data">
            <div class="col">
                <div class="card">
                    <img src="../static/images/python images/vtronm2.png" class="card-img-top" alt="..." height="300">
                    <input class="form-label" id="formFileLg" type="hidden" name='k' value="1">
        
                    <br>
                    <div class="card-body">
                        <h6 class="card-title cursor-pointer" style="text-align: center;">Hand Points</h6> 
                    </div>
                    <br>
                    <br>
        
                    <!-- <div class="col-12" style="text-align: center;">
                        <button class="btn btn-light" type="submit"><i class='lni lni-pointer-right'></i><i>&nbsp;</i> Try on <i>&nbsp;</i><i>&nbsp;</i><i class='lni lni-pointer-left'></i></button>
                    </div>
                     -->
                </div>
            </div>
            </form>





<br> 
{% endblock %}